body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#busStopId {
  margin-top: 10px;
}

#submit,
#arrivalInfo {
  margin-top: 30px;
}

#busStopId {
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 180px;
  padding-left: 12px;
}

#submit {
  background-color: #4aafef;
  color: white;
  border-radius: 30px;
  height: 50px;
  width: 300px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.2s;
}

#submit:hover {
  transform: translate(-1.5px, -2px);
}

#submit:active {
  transform: translate(0.5px, 1px);
}

#arrivalInfo {
  text-align: center;
}